body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url(../Images/starbg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: "darkblue";
  color: #91befa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* This font is free of use according to Google, 'https://fonts.google.com/specimen/Space+Mono/about' */
@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
}

h1 {
    font-family: 'Space Mono', sans-serif;
    text-shadow:  0 5px 10px rgba(0, 0, 0, 100);
}

h2 {
    font-family: 'Space Mono', sans-serif;
    text-shadow:  0 5px 10px rgba(0, 0, 0, 100);
}

/* Header Styles */
#navbar {
  background-color: #3B3B6D;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homelogo img {
  height: 50px;
}

#nav-links a {
  color: #91befa;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/* Main Content Styles */
.container_img {
  width: 100%;
  height: auto; 
  object-fit: contain;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.img-wrapper {
  width: 100%;
  height: 500px; /* Set the height for the wrapper */
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered {
  font-family: Gill Sans, sans-serif;
  font-size: 35px;
  color: #91befa;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 100);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
}

#content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Style for About Us section*/
#about {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  max-width: 1200px;
}

.onethird-width {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.half-width {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.third-width {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.carousal-left-section {
  flex: 1 0 70%;
  padding: 20px;
}

.carousal-right-section {
  flex: 1 0 30%;
  width: 400px;
  padding: 20px;
}

.promo {
  padding: 0.5px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.ticket-info {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.addressandparking, .timings, .contact {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.icons {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #3B3B6D;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 20p;

}

.ticket-section {
  padding: 20px;
  border-radius: 5px;
}


.faqs {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.site-footer {
  background-color: #3B3B6D;
  color: #91befa;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.site-footer p {
  font-family: "Space Mono", monospace;
  margin: 0;
}

#slider-container {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#slider img {
  width: 100%;
  border-radius: 10px;
}

/* Gift Voucher Section */
.gift-voucher {
  padding: 20px;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* FAQ Section */
.faq {
  padding: 20px;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* FAQ Accordion */
.question {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  background-color: #3B3B6D;
  color: #91befa;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-out 100ms
}

.question:hover {
  background-color: #2a2a4f;
}
.answer {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #0f051c;
}

.answer.show {
  display: block;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Dropdown Styles */
.dropdown {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icons img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.icons p {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 70px);
}


/*
Styles For Image Map  
*/

/* Relative positioning*/
#image-map {
  position: relative;
  margin: 20px auto 20px auto;
}

/* Hide the original tooltips contents */
.pin {
  display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up, .tooltip-down {
  position: absolute;
  background: url(../Images/map_pin.png);
  width: 25px;
  height: 37px;
}

.tooltip-down {
  background-position: 0 -37px;
}

.uolteam26tooltip {
  display: none;
  width: 250px;
  cursor: help;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 10px;
  z-index: 999;
  margin-left: -110px;
  padding:15px;
  color: #222;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0,0,0,.7);
  background: #fff1d3;
  background: linear-gradient(top, #fff1d3, #ffdb90);         
}

.uolteam26tooltip::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom: 10px solid #fff1d3;
  border-left: 10px solid transparent;
  border-right : 10px solid transparent;
}

.tooltip-down .uolteam26tooltip {
  bottom: 37px;
  top: auto;
}

.tooltip-down .uolteam26tooltip::after {
  bottom: -10px;
  top: auto;
  border-bottom: 0;
  border-top: 10px solid #ffdb90;
}

.uolteam26tooltip a {
  font: bold 1em 'Trebuchet MS', Tahoma, Arial;
  margin: 0 0 10px;
}


.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 
 Circle image effect referenced from 
 https://www.w3schools.com/howto/howto_css_rounded_images.asp
*/
.avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}
.profile {
  text-align: center;
  margin: 0 10px;
}
