*{
    /*outline: 3px solid limegreen !important;*/
   box-sizing: border-box; 
}

body {
  margin: 0;
}


.content {
  padding-top: 60px;
}

.section {
  width: 100%;
}


/*Navigation bar */
#navbar {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  background-color: #333;
}

#navbar #nav-links a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 20px;
}
